<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container m-auto">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="/">Book's Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="drop-down">
                    <ul class="navbar-nav me-auto ">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="https://lh3.googleusercontent.com/ogw/AKPQZvzwpPhpjGnWfgSXwGmJUTtTp7vuluslmD7GbOy1=s32-c-mo"
                                    class="img rounded-circle" alt=""> Vu Pham
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/courses/create">Post courses</a>
                                </li>
                                <li><a class="dropdown-item" href="/me/stored/courses">My courses</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </div>
</nav>