<div class="search-form mt-5">
    <form method="POST">
        <div class="mb-3">
            <label for="search-input" class="form-label">Keyword name</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Name...">

        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>